<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
          <div class="col-md-8" style="padding-left: 0px; width:100%">
            <ul class="list-inline">
              <li>
                <a class="page-scroll" href="#intro">Back to top</a>
              </li>
              {{ if (fileExists "imprint-gdpr/imprint.md") -}}
                <li class="footer-menu-divider">&sdot;</li>
                <li>
                  <a href="{{ "imprint-gdpr/imprint" | absURL }}" >Imprint</a>
                </li>
              {{- end }}
              {{ if (fileExists "imprint-gdpr/gdpr.md") -}}
                <li class="footer-menu-divider">&sdot;</li>
                <li>
                  <a href="{{ "imprint-gdpr/gdpr" | absURL }}" >GDPR</a>
                </li>
              {{- end }}
            </ul>
            <p class="copyright text-muted" style="text-align:left;">
                    An <a href="https://ottawacivictech.ca/" target="_blank">Ottawa Civic Tech</a> project. <a href="https://github.com/YOWCT/large-government-of-canada-it-projects" target="_blank">View on GitHub</a>.
            </p>
			    </div>
        </div>
    </div>
</footer>
{{ partial "js.html" . }}
</body>
</html>
