<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ .Site.Params.description}}"> 
    
	<meta name="author" content="{{ .Site.Params.author | default .Site.Author }}">  
    <base href="{{ .Site.BaseURL }}">
    <title>{{ if .Title }}{{ .Title }} – {{ .Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}</title>

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}

    <!-- Bootstrap Core CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/dataTables.bootstrap.min.css">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">


</head>
<body>
