<!-- Details modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal-details">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Project Details</h4>
      </div>
      <div class="modal-body" id="modal-details-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Lodash templates -->
{{ (partial "lodash_templates.ejs" .) | safeHTML }}

<!-- Loading jQuery, jQuery DataTables + Bootstrap plugin, Lodash, and Bootstrap JS -->
<script type="text/javascript" language="javascript" src="js/lib/jquery-3.3.1.min.js"></script>
<script type="text/javascript" language="javascript" src="js/lib/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="js/lib/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" language="javascript" src="js/lib/lodash.min.js"></script>
<script type="text/javascript" language="javascript" src="js/lib/bootstrap.min.js"></script>


<!-- Page-specific data to load -->
{{ if not (.Params.url) -}}
<script src="js/generated/tabledata_combined.js"></script>
{{- end }}
{{ if eq (.Params.url) ("2016") -}}
<script src="js/generated/tabledata_2016.js"></script>
{{- end }}
{{ if eq (.Params.url) ("2019") -}}
<script src="js/generated/tabledata_2019.js"></script>
{{- end }}


<script type="text/javascript" language="javascript" src="js/app.js"></script>

{{ template "_internal/google_analytics_async.html" . }}
