<!-- Details modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal-details">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Project Details</h4>
      </div>
      <div class="modal-body" id="modal-details-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Lodash templates -->
{{ (partial "lodash_templates.ejs" .) | safeHTML }}

<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>


<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Page-specific data to load -->
{{ if not (.Params.url) -}}
<script src="js/generated/tabledata_combined.js"></script>
{{- end }}
{{ if eq (.Params.url) ("2016") -}}
<script src="js/generated/tabledata_2016.js"></script>
{{- end }}
{{ if eq (.Params.url) ("2019") -}}
<script src="js/generated/tabledata_2019.js"></script>
{{- end }}


<script>

var app = app || {};

$(function() {
	app.modalContentsTemplate = _.template(
		$("#modalContentsTemplate").html()
	);

	app.hashChanged = function(anchor) {
		var targetId;
		var item;
		console.log(anchor);
		if(anchor.startsWith("#uid=") === true) {
			targetId = anchor.substring(5);
			item = _.get(app.data,targetId);
			console.log("targetId = " + targetId);

			if(_.isObject(item)) {
				// console.log(app.modalContentsTemplate(item));
				$('#modal-details-body').html(app.modalContentsTemplate({item: item}));
				$('#modal-details').modal('show')
				return true;
			}
		}
		console.log('No item selected');

	}

	// Thanks to
	// https://stackoverflow.com/a/2162174
	if ("onhashchange" in window) { // event supported?
    window.onhashchange = function () {
			app.hashChanged(window.location.hash);
    }
	}
	else { // event not supported:
			var storedHash = window.location.hash;
			window.setInterval(function () {
					if (window.location.hash != storedHash) {
							storedHash = window.location.hash;
							app.hashChanged(storedHash);
					}
			}, 100);
	}

	// Modal "hide" event should clear any existing anchor
	$('#modal-details').on('hidden.bs.modal', function (e) {
		// Reset anchor
		window.location.hash = "uid=";
	});

});

</script>

{{ template "_internal/google_analytics_async.html" . }}

<script>
	$(document).ready(function() {

		// Initialize the data table
		var orderColumnIndex = _.toInteger($('#2019-data-table').data('orderColumn'));
    $('#2019-data-table').DataTable( {
        "order": [[ orderColumnIndex, "desc" ]],
				"lengthMenu": [[20, 50, 100, -1], [20, 50, 100, "All"]]
		} );

		// Scroll to top of table on change
		// Thanks to
		// https://stackoverflow.com/a/35899744
		$('#2019-data-table').on( 'page.dt', function () {
			$('html, body').animate({
				scrollTop: $('#2019-data-table').offset().top
			}, 200);        
		});

		// Check for any anchor onload
		app.hashChanged(window.location.hash);
		
		// Add target=_blank to external links
		// Thanks to http://css-tricks.com/snippets/jquery/open-external-links-in-new-window/
		$("#main a[href^='http://']").attr("target","_blank");
		$("#main a[href^='https://']").attr("target","_blank");
		
} );
</script>