<section id="nav">

  <div class="container">
    <div class="row">
      <ul class="nav nav-pills">
        <li {{ if not (.Params.url) -}}class="active"{{- end }}><a href="/">Combined Data </a></li>
        <li {{ if eq (.Params.url) ("2016") -}}class="active"{{- end }}><a href="/2016/">2016 Data</a></li>
        <li {{ if eq (.Params.url) ("2019") -}}class="active"{{- end }}><a href="/2019/">2019 Data</a></li>
        <li {{ if eq (.Params.url) ("2022") -}}class="active"{{- end }}><a href="/2022/">2022 Data</a></li>
      </ul>
    </div>
  </div>

</section>
